[submodule "backend"]
	path = backend
	url = https://github.com/kon-chi/quote-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/kon-chi/quote-frontend
[submodule "ot"]
	path = ot
	url = https://github.com/kon-chi/quote-ot
